* {
    box-sizing: border-box;
  }
  
  html {
    border: 0.5rem solid black;
    background-color: #bbadff;
    min-height: 100vh;
  }
  
  .topHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .monster {
      width: 10rem;
    }
  
    .welcome {
      border: 0.2rem solid black;
      background-color: #4aa77c;
  
      h1,
      h2 {
        color: #ffd500;
      }
    }
  
    .start {
      color: red;
    }
  
    .topics {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;
  
      button {
        margin: 1rem;
        font-size: 1.5rem;
        background-color: #e36414;
        padding: 0.5rem 2rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all  ease-in-out;
  
        // &:hover {
        //   color: #061906;
        // }
  
        &:active {
          transform: translateY(0.2rem);
          background-color: #d95204;
        }
      }
    }
  }
  