$orange: #e36414;
$purple: #bbadff;
$green: #52b788;
$yellow: #ffd500;
$red: #d90429;

.bigButton {
    border: none;
    outline: none;
    margin: 2rem;
    transition: all 0.2s ease;
    background-color: #ff9e00;
    box-shadow: 0 0.3rem black, rgba(0, 0, 0, 0.47) 0px 4px 10px;
    padding: 1rem 9rem;
    border-radius: 0.3rem;
    border: 0.1rem solid black;
    font-weight: bolder;
    font-size: larger;
    color: white;
    text-shadow: 1px 1px 2px black;

    &:active {
        box-shadow: none;
        transform: translateY(0.3rem);
        background-color: #ce8002;
        color: rgb(197, 196, 196);
        border: 0.1rem solid gray;
    }
}
